[submodule "third_party/lithium"]
	path = third_party/lithium
	url = https://github.com/matt-42/lithium
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson
